@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 64% 24%;
    --foreground: 0 0% 98%;

    --card: 140 55% 28%;
    --card-foreground: 0 0% 98%;

    --popover: 140 55% 26%;
    --popover-foreground: 0 0% 98%;

    --primary: 142 72% 35%;
    --primary-foreground: 0 0% 98%;

    --secondary: 140 38% 34%;
    --secondary-foreground: 0 0% 98%;

    --muted: 140 32% 36%;
    --muted-foreground: 120 20% 86%;

    --accent: 142 45% 38%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;

    --border: 140 35% 42%;
    --input: 140 35% 38%;
    --ring: 142 70% 45%;

    --radius: 0.625rem;

    --chart-1: 142 70% 45%;
    --chart-2: 160 60% 42%;
    --chart-3: 90 55% 45%;
    --chart-4: 45 80% 55%;
    --chart-5: 185 65% 45%;
  }

  .dark:root {
    --background: 140 64% 24%;
    --foreground: 0 0% 98%;

    --card: 140 55% 28%;
    --card-foreground: 0 0% 98%;

    --popover: 140 55% 26%;
    --popover-foreground: 0 0% 98%;

    --primary: 142 72% 35%;
    --primary-foreground: 0 0% 98%;

    --secondary: 140 38% 34%;
    --secondary-foreground: 0 0% 98%;

    --muted: 140 32% 36%;
    --muted-foreground: 120 20% 86%;

    --accent: 142 45% 38%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;

    --border: 140 35% 42%;
    --input: 140 35% 38%;
    --ring: 142 70% 45%;

    --chart-1: 142 70% 45%;
    --chart-2: 160 60% 42%;
    --chart-3: 90 55% 45%;
    --chart-4: 45 80% 55%;
    --chart-5: 185 65% 45%;
  }
}
